extends layout

block content
    script(src='javascripts/script.js')
    .main(style='display: absolute;justify-content: center;align-items: center;') MrJingle´s Page
        if data
            table.table
                tr
                    th setId
                    th name
                each item, i in data
                    tr
                        td #{item.setId}
                        td #{item.name}
               button(onclick='notifyMe()') Notify me!